html {
	position: relative;
}

form .input-icon{position:relative;}
 
/**Mengatur posisi icon di dalam form**/
form .input-icon input+span{
  position:absolute;
  float: right;
  right: 10px;
  top:12px;
  color:#777;
}

form input:focus+span{color:#0099ff;}

.img-thumbnail{
box-shadow: none;
border: 0;
background: none;
}


